body{
    background: orange;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    box-shadow: 0px 0px 25px 10px white;
    border-right: 1px solid orange;
    border-top: 1px solid orange;
    background: linear-gradient(40deg, orange,white);
    border-radius: 10px;
    height: max-content;
    width: 85vw;
    text-align: center;
}

.my_name{
    font-size: small;
    text-align: right;
    margin-right: 50px;
}

img.birthday{
    border-radius: 25px;
    margin-top: 20px;
    max-height: 30vh;
}
a{
    text-decoration: none;
}
.nav_button{
    font-size: 18px;
    letter-spacing: 2px;
    border: 0px solid white;
    border-radius: 10px;
    background: linear-gradient(45deg,orange, white,orange);
    border: 1px solid white;
    width: 100px;
    height: 50px;
    margin-right:5px ;
    margin-bottom: 10px;
    margin-top: 10px;
}
.nav_button_gift{
    font-size: 50px;
    border-radius: 10px;
    background: linear-gradient(45deg,orange, white,orange);
    border: 1px solid white;
    width: 25%;
    height: 10vh;
    /* width: max-content;
    height: max-content; */
    margin-right:5px ;
    margin-bottom: 10px;
    margin-top: 10px;
}
.nav_button:hover{
    transition: 0.5s;
    background: linear-gradient(-45deg,orange, white,orange);
    height: 50px;
    margin-right:5px ;
}
.nav_button_gift:hover{
    transition: 0.5s;
    background: linear-gradient(-45deg,orange, white,orange);
}
.nav_button:not(:hover){
    transition: 1s;
}
.nav_button a{
    text-decoration: none;
    color: black;
}
.img{
    width: 100%;
    /* height: 450px; */
}
.img3{
    height: 500px;
    width: 100%;
}
.img4{
    width: 70%;
    height: 500px;
}
.img5{
    width: 100%;
    height: 500px;
}
.fa-solid{
    font-size: 25px;
}
.fa-home{
    font-size: 50px;
}